<div class="col-sm-12">
  <!-- Example Pagination -->
  <div class="example-wrap">
    <h4 class="example-title">分页：客户端</h4>
    <div class="example">
      <table id="exampleTablePagination" data-toggle="table" data-url="js/demo/bootstrap_table_test.json" data-query-params="queryParams" data-mobile-responsive="true" data-height="400" data-pagination="true" data-icon-size="outline" data-search="true" showRefresh="true">
        <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="id">ID</th>
          <th data-field="name">名称</th>
          <th data-field="price">价格</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
  <!-- End Example Pagination -->
</div>