<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>Wavehill</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield %>
  </body>
</html>
